/* ===== Header CSS ===== */
.dark .ud-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(27, 27, 27, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .light-sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(229, 250, 248, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .sticky .navbar {
  padding: 0;
}

.dark .navbar {
  padding: 0px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .navbar-brand {
  padding: 0;
  color: #fff;
  font-weight: 500;
}

.dark .nav-logo {
  width: 180px;
  height: 100%;
  display: inline-block;
  margin-right: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-brand {
    padding: 5px 0px;
  }
}

.dark .navbar-brand .nav-title {
  font-size: 25px;
  text-decoration: none;
}
.dark .navbar-brand .nav-title:hover {
  color: #fff;
}

.dark .navbar-brand img {
  max-width: 160px;
}

.dark .navbar-toggler {
  padding: 25px 0px;
}

.dark .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    width: 100%;
    background-color: var(--background);
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
    border-radius: 5px;
  }
  .dark .navbar-collapse.show {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav {
    padding: 20px 30px;
  }
}

.dark .navbar-nav .nav-item {
  position: relative;
  padding: 0px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .dark .navbar-nav .nav-item {
    padding: 0px 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item {
    padding: 0px;
  }
}

.dark .navbar-nav .nav-item > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 25px 8px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item > a {
    display: block;
    padding: 8px 0;
    color: var(--text);
  }
}

.dark .navbar-nav .nav-item > a:hover,
.dark .navbar-nav .nav-item > a.active {
  color: var(--white);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item > a:hover,
  .dark .navbar-nav .nav-item > a.active {
    color: var(--background);
    opacity: 1;
  }
}

.dark .navbar-nav .nav-item .ud-submenu {
  position: absolute;
  width: 250px;
  background: var(--white);
  top: 110%;
  padding: 20px 30px;
  -webkit-box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item .ud-submenu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}

.dark .navbar-nav .nav-item .ud-submenu.show {
  display: block;
}

.dark .navbar-nav .nav-item .ud-submenu .ud-submenu-link {
  padding: 7px 0;
  color: var(--secondary);
  font-size: 14px;
}

.dark .navbar-nav .nav-item .ud-submenu .ud-submenu-link:hover {
  color: var(--background);
}

.dark .navbar-nav .nav-item:hover > a {
  color: var(--white);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item:hover > a {
    color: var(--accent);
    opacity: 1;
  }
}

.dark .navbar-nav .nav-item:hover > .ud-submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.dark .navbar-nav .nav-item.nav-item-has-children > a {
  position: relative;
}

.dark .navbar-nav .nav-item.nav-item-has-children > a::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  right: -15px;
  top: 50%;
  margin-top: -2px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item.nav-item-has-children > a::after {
    right: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.dark .navbar-btn .ud-main-btn {
  padding: 8px 16px;
  background: transparent;
}

.dark .navbar-btn .ud-login-btn:hover {
  opacity: 0.5;
}

.dark .navbar-btn .ud-white-btn {
  background: white;
  color: var(--secondary);
  font-weight: 400;
}

.dark .navbar-btn .ud-white-btn:hover {
  background: #adb4d7;
  color: var(--secondary);
  font-weight: 400;
}

.dark .sticky .navbar-toggler .toggler-icon {
  background-color: var(--text);
}

.dark .sticky .navbar-nav .nav-item a {
  color: var(--text);
}

@media only screen and (max-width: 991px) {
  .dark .sticky .navbar-nav .nav-item a {
    color: var(--text);
  }
}

.dark .sticky .navbar-btn .ud-main-btn.ud-login-btn {
  color: var(--secondary);
}

.dark .sticky .navbar-btn .ud-main-btn.ud-login-btn:hover {
  color: var(--background);
  opacity: 1;
}

.dark .sticky .navbar-btn .ud-white-btn {
  background: white;
  color: var(--secondary);
}

.dark .sticky .navbar-btn .ud-white-btn:hover {
  background: var(--light-primary);
  color: var(--secondary);
}

.dark .nav-theme-button:hover {
  color: var(--text) !important;
  opacity: 1 !important;
}

.dark .ud-profile-btn {
  background-color: var(--text);
  color: var(--dark-text) !important;
}

.dark .theme-icon {
  color: var(--text);
}

/* ===== Header CSS ===== */
.light .ud-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(229, 250, 248, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .sticky .navbar {
  padding: 0;
}

.light .navbar {
  padding: 0px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .navbar-brand {
  padding: 0;
  color: var(--light-text);
  font-weight: 500;
}

.light .nav-logo {
  width: 180px;
  height: 100%;
  display: inline-block;
  margin-right: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-brand {
    padding: 5px 0px;
  }
}

.light .navbar-brand .nav-title {
  font-size: 25px;
  text-decoration: none;
}

.light .navbar-brand img {
  max-width: 160px;
}

.light .navbar-toggler {
  padding: 25px 0px;
}

.light .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: var(--light-text);
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    width: 100%;
    background-color: var(--light-background);
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    border-radius: 5px;
  }
  .light .navbar-collapse.show {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav {
    padding: 20px 30px;
  }
}

.light .navbar-nav .nav-item {
  position: relative;
  padding: 0px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .light .navbar-nav .nav-item {
    padding: 0px 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item {
    padding: 0px;
  }
}

.light .navbar-nav .nav-item > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-text);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 25px 8px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item > a {
    display: block;
    padding: 8px 0;
  }
}

.light .navbar-nav .nav-item > a:hover,
.light .navbar-nav .nav-item > a.active {
  color: var(--light-secondary);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item > a:hover,
  .light .navbar-nav .nav-item > a.active {
    color: var(--light-secondary);
    opacity: 1;
  }
}

.light .navbar-nav .nav-item .ud-submenu {
  position: absolute;
  width: 250px;
  background: var(--white);
  top: 110%;
  padding: 20px 30px;
  -webkit-box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item .ud-submenu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}

.light .navbar-nav .nav-item .ud-submenu.show {
  display: block;
}

.light .navbar-nav .nav-item .ud-submenu .ud-submenu-link {
  padding: 7px 0;
  color: var(--secondary);
  font-size: 14px;
}

.light .navbar-nav .nav-item .ud-submenu .ud-submenu-link:hover {
  color: var(--background);
}

.light .navbar-nav .nav-item:hover > a {
  color: var(--light-text);
  opacity: 0.6;
}

/* @media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item:hover > a {
    color: var(--white);
    opacity: 0.5;
  }
} */

.light .navbar-nav .nav-item:hover > .ud-submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.light .navbar-nav .nav-item.nav-item-has-children > a {
  position: relative;
}

.light .navbar-nav .nav-item.nav-item-has-children > a::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  right: -15px;
  top: 50%;
  margin-top: -2px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item.nav-item-has-children > a::after {
    right: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.light .navbar-btn .ud-main-btn {
  padding: 8px 16px;
  background: transparent;
}

.light .navbar-btn .ud-login-btn:hover {
  opacity: 0.5;
}

.light .navbar-btn .ud-white-btn {
  background: var(--background);
  color: var(--text);
  font-weight: 400;
}

.light .navbar-btn .ud-white-btn:hover {
  background: var(--primary);
  color: var(--secondary);
  font-weight: 400;
}

.light .sticky .navbar-toggler .toggler-icon {
  background-color: var(--secondary);
}

.light .sticky .navbar-nav .nav-item:hover > a {
  color: var(--light-secondary);
  opacity: 0.5;
}

.light .sticky .navbar-nav .nav-item a {
  color: var(--dark-text);
}

@media only screen and (max-width: 991px) {
  .light .sticky .navbar-nav .nav-item a {
    color: var(--dark-text);
  }
}

.light .sticky .navbar-nav .nav-item a.active,
.light .sticky .navbar-nav .nav-item a:hover {
  color: var(--light-secondary);
  opacity: 0.5;
}

@media only screen and (max-width: 991px) {
  .light .sticky .navbar-nav .nav-item a.active,
  .light .sticky .navbar-nav .nav-item a:hover {
    color: var(--light-secondary);
    opacity: 0.5;
  }
}

.light .sticky .navbar-btn .ud-main-btn.ud-login-btn {
  color: var(--light-background);
}

.light .sticky .navbar-btn .ud-main-btn.ud-login-btn:hover {
  color: var(--background);
  opacity: 1;
}

.light .sticky .navbar-btn .ud-white-btn {
  background: var(--background);
  color: var(--text);
}

.light .sticky .navbar-btn .ud-white-btn:hover {
  background: var(--light-primary);
  color: var(--secondary);
}

.light .theme-button i {
  color: var(--light-text);
}

.light .nav-theme-button:hover {
  color: var(--dark-text) !important;
  opacity: 1 !important;
}

.light .ud-profile-btn {
  background-color: var(--background);
  color: var(--text) !important;
}

.light .theme-icon {
  color: var(--light-text);
}

/* ===== Hero CSS ===== */
.dark .ud-hero {
  background: var(--background);
}

.dark .ud-hero-content {
  padding-top: 180px;
  max-width: 880px;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dark .ud-hero-content {
    max-width: 760px;
    padding-top: 160px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-content {
    max-width: 760px;
    padding-top: 130px;
  }
}

.dark .ud-hero-content .ud-hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dark .ud-hero-content .ud-hero-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-content .ud-hero-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
  }
}

.dark .ud-hero-content .ud-hero-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .dark .ud-hero-content .ud-hero-desc {
    font-size: 16px;
    line-height: 30px;
  }
}

.dark .ud-hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dark .ud-hero-buttons .ud-main-btn {
  margin: 8px;
}

@media (max-width: 767px) {
  .dark .ud-hero-buttons .ud-main-btn {
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-buttons .ud-main-btn {
    padding: 12px 16px;
  }
}

.dark .ud-hero-buttons .ud-white-btn {
  background: var(--white);
  color: var(--secondary);
}

.dark .ud-hero-buttons .ud-white-btn:hover {
  background: var(--primary);
  color: var(--background);
}

.dark .ud-hero-buttons .ud-link-btn:hover {
  color: var(--white);
  background: transparent;
  opacity: 0.5;
}

.dark .ud-hero-brands-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.dark .ud-hero-brands-wrapper img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  max-width: 250px;
}

.dark .ud-hero-brands-wrapper img:hover {
  opacity: 1;
}

.dark .ud-hero-image {
  max-width: 845px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  /* box-shadow: -1px -23px 400px -69px rgba(211, 156, 156, 0.65);
  -webkit-box-shadow: -1px -23px 400px -69px rgba(211, 156, 156, 0.65);
  -moz-box-shadow: -1px -23px 400px -69px rgba(211, 156, 156, 0.65); */
  box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
  -webkit-box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
  -moz-box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .ud-hero-image {
    box-shadow: 0px -8px 164px -38px rgba(255, 255, 255, 0.84);
    -webkit-box-shadow: 0px -8px 164px -38px rgba(255, 255, 255, 0.84);
    -moz-box-shadow: 0px -8px 164px -38px rgba(255, 255, 255, 0.84);
  }
}

.dark .ud-hero-image img {
  max-width: 100%;
  text-align: center;
}

.dark .ud-hero-image .shape {
  position: absolute;
  z-index: -1;
}

.dark .ud-hero-image .shape.shape-1 {
  bottom: 0;
  left: -30px;
}

.dark .ud-hero-image .shape.shape-2 {
  top: -20px;
  right: -20px;
}

/* ===== Hero CSS Light ===== */
.light .ud-hero {
  background: var(--light-background);
}

.light .ud-hero-content {
  padding-top: 180px;
  max-width: 880px;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .light .ud-hero-content {
    padding-top: 160px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-content {
    padding-top: 130px;
  }
}

.light .ud-hero-content .ud-hero-title {
  color: var(--light-text);
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .light .ud-hero-content .ud-hero-title {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-content .ud-hero-title {
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
  }
}

.light .ud-hero-content .ud-hero-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: var(--light-text);
  opacity: 0.8;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .light .ud-hero-content .ud-hero-desc {
    font-size: 16px;
    line-height: 30px;
  }
}

.light .ud-hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.light .ud-hero-buttons .ud-main-btn {
  margin: 8px;
}

@media (max-width: 767px) {
  .light .ud-hero-buttons .ud-main-btn {
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-buttons .ud-main-btn {
    padding: 12px 16px;
  }
}

.light .ud-hero-buttons .ud-white-btn {
  background: var(--light-secondary);
  color: var(--white);
}

.light .ud-hero-buttons .ud-white-btn:hover {
  background: var(--primary);
  color: var(--background);
}

.light .ud-hero-buttons .ud-link-btn {
  color: var(--light-text);
  background: var(--light-background);
}

.light .ud-hero-buttons .ud-link-btn:hover {
  color: var(--light-text);
  background: var(--light-background);
  opacity: 0.5;
}

.light .ud-hero-brands-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.light .ud-hero-brands-wrapper img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  max-width: 250px;
}

.light .ud-hero-brands-wrapper img:hover {
  opacity: 1;
}

.light .ud-hero-image {
  max-width: 845px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
  box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
}

.light .ud-hero-image img {
  max-width: 100%;
  text-align: center;
}

.light .ud-hero-image .shape {
  position: absolute;
  z-index: -1;
}

.light .ud-hero-image .shape.shape-1 {
  bottom: 0;
  left: -30px;
}

.light .ud-hero-image .shape.shape-2 {
  top: -20px;
  right: -20px;
}

/* ===== Features Section CSS ===== */

/* Skills in Feature */
.feature-section {
  background-color: var(--background);
  color: var(--text);
}

.light .feature-section {
  background-color: var(--light-background);
  color: var(--light-text);
}

.feature-container {
  margin-top: 140px;
  padding: 20px 20px;
}

@media (max-width: 767px) {
  .feature-container {
    margin-top: 80px;
    padding: 20px 20px;
  }
}

/* Heading styling */
.custom-heading {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-heading {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .custom-heading {
    font-size: 38px;
    line-height: 50px;
  }
}

.text-brand {
  color: var(--primary);
}

.custom-text {
  color: var(--border);
  font-size: 1.125rem;
  margin-bottom: 0;
}

.light .custom-text {
  color: var(--light-text);
}

.img-icon {
  width: 100%;
  max-width: 72px;
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .img-icon {
    max-width: 60px;
  }
}

.custom-icon-img {
  width: 100%;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.custom-icon-img:hover {
  transform: scale(1.25);
}

/* Code Snippet Section  */
.snippet-container {
  text-align: center;
  background-color: transparent;
}

.code-box {
  background-color: #282c34;
  padding: 20px;
  margin-top: 50px;
  border-radius: 4px;
  display: inline-block;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  max-width: 900px;
  overflow-x: auto;
  white-space: nowrap;
  box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
  -webkit-box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
  -moz-box-shadow: 0px -8px 213px 200px rgba(173, 180, 215, 0.07);
}

.light .code-box {
  box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px -8px 164px 87px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .code-box {
    padding: 15px;
  }
}

.code-box pre {
  margin: 0;
  padding: 10px;
  word-wrap: break-word;
}

.code-box code {
  font-family: monospace, monospace;
  line-height: 1.325;
  word-spacing: -1px;
  font-size: 17px;
  letter-spacing: normal;
  color: #e6edf3;
}

@media (max-width: 768px) {
  .code-box code {
    font-size: 15px;
  }
}

.code-box .line-number {
  color: #6a737d;
  margin-right: 10px;
  user-select: none;
}

.code-box .red {
  color: #e06c6d;
  font-weight: 400;
}

.code-box .blue {
  color: #58a6ff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .code-box {
    max-width: 90%;
  }
}

/* ===== Footer CSS ===== */

.footer-line {
  background-color: transparent;
  border-top: 0.1px solid var(--light-background);
  width: 80%;
}
 
.light .footer-line {
  background-color: transparent;
  border-top: 0.1px solid var(--background);
}

.ud-footer {
  background-color: var(--background);
  padding: 2rem 0;
}

.light .ud-footer {
  background-color: var(--light-background);
}

.ud-footer .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.ud-footer .footer-site-logo a {
  font-weight: 400;
}

.ud-footer .nav-links {
  padding: 0;
  margin: 0;
}

.ud-footer .nav-links li {
  display: inline-block;
}

.ud-footer .nav-links li a {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  color: var(--text);
}

.light .ud-footer .nav-links li a {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  color: var(--light-text);
}

.ud-footer .nav-links li a:hover {
  color: var(--primary);
}

.light .ud-footer .nav-links li a:hover {
  color: var(--light-secondary);
}

.ud-footer .social ul li {
  display: inline-block;
}

.ud-footer .social ul li a {
  display: inline-block;
  padding: 10px;
}
.ud-footer .copyright p {
  font-weight: 200;
  font-size: small;
  color: #fff !important;
}
.light .ud-footer .copyright p {
  font-weight: 200;
  font-size: small;
  color: #000 !important;
}
.ud-footer .copyright a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 400;
}
.light .ud-footer .copyright a {
  color: var(--secondary);
}

.git-btn {
  background-color: var(--light-background);
  color: var(--dark-text);
  border-radius: 4px;
}

.git-btn:focus {
  outline: none;
  box-shadow: none;
}

.light .git-btn {
  background-color: var(--background);
}

.git-text {
  color: var(--dark-text);
}

.light .git-text {
  color: var(--text);
}
