/* ===== Header CSS ===== */
.dark .ud-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(27, 27, 27, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .light-sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(229, 250, 248, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .sticky .navbar {
  padding: 0;
}

.dark .navbar {
  padding: 0px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .navbar-brand {
  padding: 0;
  color: #fff;
}

.dark .nav-logo {
  width: 180px;
  height: 100%;
  display: inline-block;
  margin-right: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-brand {
    padding: 5px 0px;
  }
}

.dark .navbar-brand .nav-title {
  font-size: 25px;
  text-decoration: none;
}
.dark .navbar-brand .nav-title:hover {
  color: #fff;
}

.dark .navbar-brand img {
  max-width: 160px;
}

.dark .navbar-toggler {
  padding: 25px 0px;
}

.dark .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: var(--white);
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.dark .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    width: 100%;
    background-color: var(--white);
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 0px;
    display: none;
    border-radius: 5px;
  }
  .dark .navbar-collapse.show {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav {
    padding: 20px 30px;
  }
}

.dark .navbar-nav .nav-item {
  position: relative;
  padding: 0px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .dark .navbar-nav .nav-item {
    padding: 0px 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item {
    padding: 0px;
  }
}

.dark .navbar-nav .nav-item > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 25px 8px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item > a {
    display: block;
    padding: 8px 0;
    color: var(--secondary);
  }
}

.dark .navbar-nav .nav-item > a:hover,
.dark .navbar-nav .nav-item > a.active {
  color: var(--white);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item > a:hover,
  .dark .navbar-nav .nav-item > a.active {
    color: var(--background);
    opacity: 1;
  }
}

.dark .navbar-nav .nav-item .ud-submenu {
  position: absolute;
  width: 250px;
  background: var(--white);
  top: 110%;
  padding: 20px 30px;
  -webkit-box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item .ud-submenu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}

.dark .navbar-nav .nav-item .ud-submenu.show {
  display: block;
}

.dark .navbar-nav .nav-item .ud-submenu .ud-submenu-link {
  padding: 7px 0;
  color: var(--secondary);
  font-size: 14px;
}

.dark .navbar-nav .nav-item .ud-submenu .ud-submenu-link:hover {
  color: var(--background);
}

.dark .navbar-nav .nav-item:hover > a {
  color: var(--white);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item:hover > a {
    color: var(--background);
    opacity: 1;
  }
}

.dark .navbar-nav .nav-item:hover > .ud-submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.dark .navbar-nav .nav-item.nav-item-has-children > a {
  position: relative;
}

.dark .navbar-nav .nav-item.nav-item-has-children > a::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  right: -15px;
  top: 50%;
  margin-top: -2px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-nav .nav-item.nav-item-has-children > a::after {
    right: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .dark .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.dark .navbar-btn .ud-main-btn {
  padding: 8px 16px;
  background: transparent;
}

.dark .navbar-btn .ud-login-btn:hover {
  opacity: 0.5;
}

.dark .navbar-btn .ud-white-btn {
  background: white;
  color: var(--secondary);
  font-weight: 400;
}

.dark .navbar-btn .ud-white-btn:hover {
  background: #adb4d7;
  color: var(--secondary);
  font-weight: 400;
}

.dark .sticky .navbar-toggler .toggler-icon {
  background-color: var(--text);
}

.dark .sticky .navbar-nav .nav-item a {
  color: var(--text);
}

@media only screen and (max-width: 991px) {
  .dark .sticky .navbar-nav .nav-item a {
    color: var(--secondary);
  }
}

.dark .sticky .navbar-btn .ud-main-btn.ud-login-btn {
  color: var(--secondary);
}

.dark .sticky .navbar-btn .ud-main-btn.ud-login-btn:hover {
  color: var(--background);
  opacity: 1;
}

.dark .sticky .navbar-btn .ud-white-btn {
  background: white;
  color: var(--secondary);
}

.dark .sticky .navbar-btn .ud-white-btn:hover {
  background: var(--light-primary);
  color: var(--secondary);
}

/* ===== Header CSS ===== */
.light .ud-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .sticky {
  position: fixed;
  z-index: 99;
  background-color: rgba(229, 250, 248, 0.6);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .sticky .navbar {
  padding: 0;
}

.light .navbar {
  padding: 0px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .navbar-brand {
  padding: 0;
  color: var(--light-text);
  font-weight: 500;
}

.light .nav-logo {
  width: 180px;
  height: 100%;
  display: inline-block;
  margin-right: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-brand {
    padding: 5px 0px;
  }
}

.light .navbar-brand .nav-title {
  font-size: 25px;
  text-decoration: none;
}

.light .navbar-brand img {
  max-width: 160px;
}

.light .navbar-toggler {
  padding: 25px 0px;
}

.light .navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: var(--light-text);
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}

.light .navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-collapse {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    width: 100%;
    background-color: var(--light-secondary);
    z-index: 9;
    -webkit-box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
    padding: 0px;
    display: none;
    border-radius: 5px;
  }
  .light .navbar-collapse.show {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav {
    padding: 20px 30px;
  }
}

.light .navbar-nav .nav-item {
  position: relative;
  padding: 0px 20px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .light .navbar-nav .nav-item {
    padding: 0px 12px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item {
    padding: 0px;
  }
}

.light .navbar-nav .nav-item > a {
  font-size: 16px;
  font-weight: 400;
  color: var(--light-text);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 25px 8px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item > a {
    display: block;
    padding: 8px 0;
    color: var(--white);
  }
}

.light .navbar-nav .nav-item > a:hover,
.light .navbar-nav .nav-item > a.active {
  color: var(--light-primary);
  opacity: 0.5;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item > a:hover,
  .light .navbar-nav .nav-item > a.active {
    color: var(--light-primary);
    opacity: 1;
  }
}

.light .navbar-nav .nav-item .ud-submenu {
  position: absolute;
  width: 250px;
  background: var(--white);
  top: 110%;
  padding: 20px 30px;
  -webkit-box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item .ud-submenu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 0px;
    opacity: 1;
    visibility: visible;
    display: none;
  }
}

.light .navbar-nav .nav-item .ud-submenu.show {
  display: block;
}

.light .navbar-nav .nav-item .ud-submenu .ud-submenu-link {
  padding: 7px 0;
  color: var(--secondary);
  font-size: 14px;
}

.light .navbar-nav .nav-item .ud-submenu .ud-submenu-link:hover {
  color: var(--background);
}

.light .navbar-nav .nav-item:hover > a {
  color: var(--light-text);
  opacity: 0.6;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item:hover > a {
    color: var(--white);
    opacity: 0.5;
  }
}

.light .navbar-nav .nav-item:hover > .ud-submenu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.light .navbar-nav .nav-item.nav-item-has-children > a {
  position: relative;
}

.light .navbar-nav .nav-item.nav-item-has-children > a::after {
  content: "";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  -webkit-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  right: -15px;
  top: 50%;
  margin-top: -2px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-nav .nav-item.nav-item-has-children > a::after {
    right: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
  .light .navbar-btn {
    position: absolute;
    top: 50%;
    right: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.light .navbar-btn .ud-main-btn {
  padding: 8px 16px;
  background: transparent;
}

.light .navbar-btn .ud-login-btn:hover {
  opacity: 0.5;
}

.light .navbar-btn .ud-white-btn {
  background: var(--background);
  color: var(--text);
  font-weight: 400;
}

.light .navbar-btn .ud-white-btn:hover {
  background: var(--primary);
  color: var(--secondary);
  font-weight: 400;
}

.light .sticky .navbar-toggler .toggler-icon {
  background-color: var(--secondary);
}

.light .sticky .navbar-nav .nav-item:hover > a {
  color: var(--light-secondary);
  opacity: 0.5;
}

.light .sticky .navbar-nav .nav-item a {
  color: var(--light-text);
}

@media only screen and (max-width: 991px) {
  .light .sticky .navbar-nav .nav-item a {
    color: var(--text);
  }
}

.light .sticky .navbar-nav .nav-item a.active,
.light .sticky .navbar-nav .nav-item a:hover {
  color: var(--light-secondary);
  opacity: 0.5;
}

@media only screen and (max-width: 991px) {
  .light .sticky .navbar-nav .nav-item a.active,
  .light .sticky .navbar-nav .nav-item a:hover {
    color: var(--light-background);
    opacity: 0.5;
  }
}

.light .sticky .navbar-btn .ud-main-btn.ud-login-btn {
  color: var(--light-background);
}

.light .sticky .navbar-btn .ud-main-btn.ud-login-btn:hover {
  color: var(--background);
  opacity: 1;
}

.light .sticky .navbar-btn .ud-white-btn {
  background: var(--background);
  color: var(--text);
}

.light .sticky .navbar-btn .ud-white-btn:hover {
  background: var(--light-primary);
  color: var(--secondary);
}

.light .theme-button i {
  color: var(--light-text);
}

/* ===== Hero CSS ===== */
.dark .ud-hero {
  background: var(--background);
}

.dark .ud-hero-content {
  padding-top: 180px;
  max-width: 780px;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dark .ud-hero-content {
    padding-top: 160px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-content {
    padding-top: 130px;
  }
}

.dark .ud-hero-content .ud-hero-title {
  color: var(--white);
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .dark .ud-hero-content .ud-hero-title {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-content .ud-hero-title {
    font-size: 26px;
    line-height: 38px;
  }
}

.dark .ud-hero-content .ud-hero-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .dark .ud-hero-content .ud-hero-desc {
    font-size: 16px;
    line-height: 30px;
  }
}

.dark .ud-hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dark .ud-hero-buttons .ud-main-btn {
  margin: 8px;
}

@media (max-width: 767px) {
  .dark .ud-hero-buttons .ud-main-btn {
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .dark .ud-hero-buttons .ud-main-btn {
    padding: 12px 16px;
  }
}

.dark .ud-hero-buttons .ud-white-btn {
  background: var(--white);
  color: var(--secondary);
}

.dark .ud-hero-buttons .ud-white-btn:hover {
  background: var(--primary);
  color: var(--background);
}

.dark .ud-hero-buttons .ud-link-btn:hover {
  color: var(--white);
  background: transparent;
  opacity: 0.5;
}

.dark .ud-hero-brands-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.dark .ud-hero-brands-wrapper img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  max-width: 250px;
}

.dark .ud-hero-brands-wrapper img:hover {
  opacity: 1;
}

.dark .ud-hero-image {
  max-width: 845px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.dark .ud-hero-image img {
  max-width: 100%;
  text-align: center;
}

.dark .ud-hero-image .shape {
  position: absolute;
  z-index: -1;
}

.dark .ud-hero-image .shape.shape-1 {
  bottom: 0;
  left: -30px;
}

.dark .ud-hero-image .shape.shape-2 {
  top: -20px;
  right: -20px;
}

/* ===== Hero CSS Light ===== */
.light .ud-hero {
  background: var(--light-background);
}

.light .ud-hero-content {
  padding-top: 180px;
  max-width: 780px;
  margin: auto;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .light .ud-hero-content {
    padding-top: 160px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-content {
    padding-top: 130px;
  }
}

.light .ud-hero-content .ud-hero-title {
  color: var(--light-text);
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .light .ud-hero-content .ud-hero-title {
    font-size: 38px;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-content .ud-hero-title {
    font-size: 26px;
    line-height: 38px;
  }
}

.light .ud-hero-content .ud-hero-desc {
  font-weight: normal;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: var(--light-text);
  opacity: 0.8;
  max-width: 800px;
  margin: auto;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .light .ud-hero-content .ud-hero-desc {
    font-size: 16px;
    line-height: 30px;
  }
}

.light .ud-hero-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.light .ud-hero-buttons .ud-main-btn {
  margin: 8px;
}

@media (max-width: 767px) {
  .light .ud-hero-buttons .ud-main-btn {
    margin: 5px;
  }
}

@media (max-width: 767px) {
  .light .ud-hero-buttons .ud-main-btn {
    padding: 12px 16px;
  }
}

.light .ud-hero-buttons .ud-white-btn {
  background: var(--light-secondary);
  color: var(--white);
}

.light .ud-hero-buttons .ud-white-btn:hover {
  background: var(--primary);
  color: var(--background);
}

.light .ud-hero-buttons .ud-link-btn {
  color: var(--light-text);
  background: var(--light-background);
}

.light .ud-hero-buttons .ud-link-btn:hover {
  color: var(--light-text);
  background: var(--light-background);
  opacity: 0.5;
}

.light .ud-hero-brands-wrapper {
  text-align: center;
  margin-bottom: 40px;
}

.light .ud-hero-brands-wrapper img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.5;
  max-width: 250px;
}

.light .ud-hero-brands-wrapper img:hover {
  opacity: 1;
}

.light .ud-hero-image {
  max-width: 845px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;
}

.light .ud-hero-image img {
  max-width: 100%;
  text-align: center;
}

.light .ud-hero-image .shape {
  position: absolute;
  z-index: -1;
}

.light .ud-hero-image .shape.shape-1 {
  bottom: 0;
  left: -30px;
}

.light .ud-hero-image .shape.shape-2 {
  top: -20px;
  right: -20px;
}

/* ===== Features CSS Dark ===== */
.dark .ud-features {
  padding-top: 120px;
  padding-bottom: 90px;
  background: var(--background);
}

@media (max-width: 767px) {
  .dark .ud-features {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.dark .ud-section-title {
  max-width: 620px;
  margin-bottom: 70px;
}

.dark .ud-section-title span {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
  margin-bottom: 10px;
}

.dark .ud-section-title h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-transform: capitalize;
  color: var(--text);
  margin-bottom: 20px;
}

.dark .ud-section-title p {
  font-size: 20px;
  line-height: 30px;
  color: var(--text);
}

@media (max-width: 767px) {
  .dark .ud-section-title p {
    font-size: 16px;
    line-height: 26px;
  }
}

.dark .ud-single-feature {
  margin-bottom: 40px;
}

.dark .ud-single-feature:hover .ud-feature-icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dark .ud-single-feature .ud-feature-icon {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 14px;
  background: var(--background);
  font-size: 32px;
  color: var(--white);
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 40px;
}

.dark .ud-single-feature .ud-feature-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 14px;
  background: var(--white);
  opacity: 0.2;
  z-index: -1;
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.dark .ud-single-feature .ud-feature-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
  color: var(--text);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .dark .ud-single-feature .ud-feature-title {
    font-size: 18px;
    line-height: 26px;
  }
}

.dark .ud-single-feature .ud-feature-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  color: var(--text);
}

.dark .ud-single-feature .ud-feature-link {
  font-weight: 500;
  color: var(--accent);
}

.dark .ud-single-feature .ud-feature-link:hover {
  color: var(--background);
}

/* ===== Features CSS Light ===== */
.light .ud-features {
  padding-top: 120px;
  padding-bottom: 90px;
  background: var(--light-background);
}

@media (max-width: 767px) {
  .light .ud-features {
    padding-top: 80px;
    padding-bottom: 40px;
  }
}

.light .ud-section-title {
  max-width: 620px;
  margin-bottom: 70px;
}

.light .ud-section-title span {
  font-weight: 600;
  font-size: 18px;
  color: var(--light-text);
  margin-bottom: 10px;
}

.light .ud-section-title h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 55px;
  text-transform: capitalize;
  color: var(--light-text);
  margin-bottom: 20px;
}

.light .ud-section-title p {
  font-size: 20px;
  line-height: 30px;
  color: var(--light-text);
}

@media (max-width: 767px) {
  .light .ud-section-title p {
    font-size: 16px;
    line-height: 26px;
  }
}

.light .ud-single-feature {
  margin-bottom: 40px;
}

.light .ud-single-feature:hover .ud-feature-icon::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.light .ud-single-feature .ud-feature-icon {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 14px;
  background: var(--light-background);
  font-size: 32px;
  color: var(--accent);
  position: relative;
  z-index: 1;
  text-align: center;
  margin-bottom: 40px;
}

.light .ud-single-feature .ud-feature-icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 14px;
  background: var(--background);
  opacity: 0.2;
  z-index: -1;
  -webkit-transform: rotate(23deg);
  transform: rotate(23deg);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.light .ud-single-feature .ud-feature-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
  color: var(--light-text);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .light .ud-single-feature .ud-feature-title {
    font-size: 18px;
    line-height: 26px;
  }
}

.light .ud-single-feature .ud-feature-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
  color: var(--light-text);
}


/* ===== About CSS Dark ===== */
.dark .ud-about {
  background: var(--background);
  padding: 120px 0;
}

@media (max-width: 767px) {
  .dark .ud-about {
    padding: 80px 0;
  }
}

.dark .ud-about-wrapper {
  background: var(--background);
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .dark .ud-about-wrapper {
    display: block;
  }
}

.dark .ud-about-content-wrapper {
  padding: 70px;
}

@media (max-width: 767px) {
  .dark .ud-about-content-wrapper {
    padding: 50px 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .dark .ud-about-content-wrapper {
    padding: 50px;
  }
}

.dark .ud-about-content {
  max-width: 500px;
}

.dark .ud-about-content .tag {
  font-weight: 500;
  font-size: 14px;
  color: var(--white);
  background: var(--background);
  padding: 5px 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.dark .ud-about-content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 30px;
  color: var(--white);
}

@media (max-width: 767px) {
  .dark .ud-about-content h2 {
    font-size: 26px;
    line-height: 38px;
  }
}

.dark .ud-about-content p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
  color: var(--text);
}

.dark .ud-about-image {
  padding: 70px;
}

.dark .about-img {
  height: 60lvh;
  width: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .dark .ud-about-image {
    text-align: center;
    padding: 0;
  }

  .dark .about-img {
    height: 30lvh;
    width: auto;
  }
}

@media only screen and (max-width: 1399px) {
  .dark .about-img {
    height: 40lvh;
    width: auto;
    padding: 0;
  }
}

/* ===== About CSS Light ===== */
.light .ud-about {
  background: var(--light-background);
  padding: 120px 0;
}

@media (max-width: 767px) {
  .light .ud-about {
    padding: 80px 0;
  }
}

.light .ud-about-wrapper {
  background: var(--light-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .light .ud-about-wrapper {
    display: block;
  }
}

.light .ud-about-content-wrapper {
  padding: 70px;
}

@media (max-width: 767px) {
  .light .ud-about-content-wrapper {
    padding: 50px 30px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .light .ud-about-content-wrapper {
    padding: 50px;
  }
}

.light .ud-about-content {
  max-width: 500px;
}

.light .ud-about-content .tag {
  font-weight: 500;
  font-size: 14px;
  color: var(--light-text);
  background: var(--light-background);
  padding: 5px 5px;
  display: inline-block;
  margin-bottom: 20px;
}

.light .ud-about-content h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 30px;
  color: var(--light-text);
}

@media (max-width: 767px) {
  .light .ud-about-content h2 {
    font-size: 26px;
    line-height: 38px;
  }
}

.light .ud-about-content p {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 40px;
  color: var(--light-text);
}

.light .ud-about-image {
  padding: 70px;
}

.light .about-img {
  height: 60lvh;
  width: auto;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
  (max-width: 767px) {
    .light .ud-about-image {
    text-align: center;
    padding: 0;
  }

  .light .about-img {
    height: 30lvh;
    width: auto;
  }
}

@media only screen and (max-width: 1399px) {
  .light .about-img {
    height: 40lvh;
    width: auto;
    padding: 0;
  }
}

/* ===== Footer CSS ===== */
.ud-footer {
  background: var(--secondary);
  padding-top: 100px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.ud-footer .shape {
  position: absolute;
  z-index: -1;
}

.ud-footer .shape.shape-1 {
  top: 0;
  left: 0;
}

.ud-footer .shape.shape-2 {
  top: 0;
  right: 0;
}

.ud-footer .shape.shape-3 {
  bottom: 0;
  right: 0;
}

.ud-widget {
  margin-bottom: 50px;
}

.ud-widget .ud-footer-logo {
  max-width: 160px;
  display: block;
  margin-bottom: 10px;
}

.ud-widget .ud-footer-logo img {
  width: 100%;
}

.ud-widget .ud-widget-desc {
  font-size: 15px;
  line-height: 24px;
  color: #f3f4fe;
  margin-bottom: 30px;
  max-width: 260px;
}

.ud-widget .ud-widget-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ud-widget .ud-widget-socials a {
  font-size: 16px;
  color: #dddddd;
  margin-right: 20px;
}

.ud-widget .ud-widget-socials a:hover {
  color: var(--background);
}

.ud-widget .ud-widget-title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 35px;
  color: var(--white);
}

.ud-widget .ud-widget-links a {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 30px;
  color: #f3f4fe;
}

.ud-widget .ud-widget-links a:hover {
  color: #adb4d7;
  padding-left: 10px;
}

.ud-widget .ud-widget-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.ud-widget .ud-widget-brands a {
  display: block;
  max-width: 120px;
  margin-bottom: 20px;
  margin-right: 20px;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .ud-widget .ud-widget-brands a {
    max-width: 100px;
  }
}

.ud-footer-bottom .ud-footer-bottom-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-left {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.ud-footer-bottom .ud-footer-bottom-left a {
  font-weight: normal;
  font-size: 15px;
  color: #f3f4fe;
  margin-right: 30px;
  display: inline-block;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-left a {
    margin: 0px 8px 8px;
  }
}

.ud-footer-bottom .ud-footer-bottom-left a:hover {
  color: var(--background);
}

.ud-footer-bottom .ud-footer-bottom-right {
  text-align: right;
  font-weight: normal;
  font-size: 15px;
  color: #f3f4fe;
}

.ud-footer-bottom .ud-footer-bottom-right a {
  color: #adb4d7;
}

.ud-footer-bottom .ud-footer-bottom-right a:hover {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .ud-footer-bottom .ud-footer-bottom-right {
    text-align: center;
    margin-top: 10px;
  }
}

/* ====== Banner CSS ======= */
.ud-page-banner {
  padding-top: 130px;
  padding-bottom: 80px;
  background: var(--background);
  /* background-image: url("../images/banner/banner-bg.svg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ud-banner-content {
  text-align: center;
  max-width: 600px;
  margin: auto;
}

.ud-banner-content h1 {
  color: var(--white);
  font-size: 38px;
  font-weight: 600;
}

/* ====== Login CSS ====== */
.ud-login {
  padding-top: 80px;
  padding-bottom: 80px;
}

.ud-login-wrapper {
  max-width: 500px;
  margin: auto;
  background: var(--white);
  text-align: center;
  padding: 60px;
  -webkit-box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.05);
}

.ud-login-wrapper .ud-login-logo {
  margin-bottom: 30px;
}

.ud-login-form .ud-form-group {
  margin-bottom: 25px;
}

.ud-login-form .ud-form-group input {
  width: 100%;
  border: 2px solid #dddddd;
  border-radius: 4px;
  padding: 12px 24px;
  background: #fcfdfe;
  color: var(--accent);
}

.ud-login-form .ud-form-group input:focus {
  border-color: var(--background);
}

.ud-socials-connect {
  padding-top: 10px;
  padding-bottom: 30px;
}

.ud-socials-connect p {
  font-size: 16px;
  color: var(--accent);
  margin-bottom: 10px;
}

.ud-socials-connect ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
}

.ud-socials-connect ul li {
  width: 100%;
}

.ud-socials-connect ul li a {
  height: 45px;
  background: var(--background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px;
  border-radius: 6px;
  color: var(--white);
  font-size: 20px;
}

.ud-socials-connect ul li a.facebook {
  background: #4064ac;
}

.ud-socials-connect ul li a.facebook:hover {
  background: #315294;
}

.ud-socials-connect ul li a.twitter {
  background: #1c9cea;
}

.ud-socials-connect ul li a.twitter:hover {
  background: #0f8bd8;
}

.ud-socials-connect ul li a.google {
  background: #d64937;
}

.ud-socials-connect ul li a.google:hover {
  background: #c53b29;
}

.forget-pass {
  font-size: 16px;
  color: var(--accent);
  margin-bottom: 8px;
}

.signup-option {
  color: var(--accent);
  font-size: 16px;
}

.signup-option a {
  color: var(--background);
}
