.profile-container {
  overflow: hidden !important;
}

.header {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: var(--primary-color);
  position: fixed;
  height: 60px !important;
  overflow: hidden;
  z-index: 10;
  border-bottom: 1px solid var(--body-color);
}
.main {
  overflow: hidden;
  margin: 0 auto;
  /* height: 100%; */
  /* margin-top: 60px; */
}
.mainInner {
  display: table;
  height: 100lvh;
  max-height: 100lvh;
  width: 100%;
  text-align: center;
}
.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  margin-top: 60px;
  transform: translateX(-251px);
  transition: transform 250ms ease-in-out;
  background: #0f0f0f;
}
.sidebarMenuInner {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebarMenuInner .side-logo {
  pointer-events: none;
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}
.sidebarMenuInner li a {
  color: inherit;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
}

.sidebarMenuInner li:hover {
  text-decoration: none;
  background-color: #adb4d7;
  color: #0f0f0f;
}

.sidebarMenuInner .active {
  text-decoration: none;
  background-color: #adb4d7;
  color: #0f0f0f;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 22px;
  left: 15px;
  height: 22px;
  width: 22px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}

/* Main CSS */

.left-content {
  padding-top: 60px;
  background-color: var(--primary-color);
  height: 100lvh;
  max-height: 100lvh;
  border-right: 1px solid var(--body-color);
  display: flex;
  flex-direction: column;
}

.headbar {
  border-bottom: 1px solid var(--body-color);
  flex: 0 1 auto;
}

.headbar h3 {
  color: white;
}

.headbar p {
  color: #adadad;
}

.form-section {
  width: 100%;
  /* height: auto; */
  margin-top: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff !important;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.form-section .form-field {
  margin-bottom: 22px;
}

.form-section span {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-section .text-input {
  display: flex;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.form-section .text-input:focus {
  border: 1px solid #414141;
  outline: none !important;
  transition: none !important;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.input-box input {
  /* flex-grow: 1; */
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 2px;
  font-size: 15px;
  background-color: #262626;
}

.input-box:focus-within {
  border-color: #777;
}

.form-section .textarea-input {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.form-section .textarea-input:focus {
  border: 1px solid #414141;
  outline: none !important;
  transition: none !important;
}

.form-section h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.right-content {
  padding-top: 60px;
  background-color: var(--primary-color);
  height: 100lvh;
  max-height: 100lvh;
}

.active-btn {
  background-color: var(--pop-color);
}

.active-btn:focus {
  outline: none;
  box-shadow: none;
}

.nonactive-btn {
  border: 1px solid var(--body-color);
  color: var(--body-color);
}

.nonactive-btn:hover {
  background-color: var(--pop-color);
}

.nonactive-btn:focus {
  outline: none;
  box-shadow: none;
}

.content {
  overflow-y: scroll;
}

.textarea {
  width: 100%;
  height: inherit;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff !important;
}

.textarea ul {
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
}

.textarea h1 {
  font-size: 2.25rem;
}

.textarea h2 {
  font-size: 1.875rem;
}

.textarea p {
  line-height: 1.625;
  color: #adadad;
}

.textarea img {
  margin-top: 15px;
}

/* Skills Section */

.skill-group {
  background-color: #262626;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.skill-group p {
  color: #fff;
}

.skill-group .skills {
  display: flex;
  gap: 0.5rem;
  margin-top: 10px;
}

.skill-group .skill-button {
  background: transparent;
  border: none;
}

.skill-group .skill-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
}

.skill-group .badge {
  float: right;
  top: -1px;
  right: -1px;
}

/* Socials Section */

.form-section .form-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}
