/**** DASHBOARD CSS ****/
/* Dark Sidebar CSS */
.dark .sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  transition: all 0.2s ease;
  white-space: unset;
  display: block;
}

.dark .sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* Sidebar */
.dark .sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: var(--background);
  padding: 10px 14px;
  transition: all 0.2s ease;
  /* box-shadow: 13px 0px 35px -46px #FFFFFF; */
  border-right: 1px solid #333c47;
}

@media only screen and (max-width: 600px) {
  .dark .sidebar {
    width: 96%;
    z-index: 999;
  }
}

.dark .sidebar header {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dark .sidebar .image-text img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.dark .sidebar header .image-text {
  display: flex;
  align-items: center;
}

.dark .sidebar .header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.dark .sidebar .header-text .main {
  font-weight: 600;
  font-size: large;
}

.dark .sidebar .header-text .sub {
  margin-top: -2px;
}

.dark .sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--dark-text);
  font-size: 22px;
}

.dark .sidebar li {
  height: 50px;
  /* background-color: red; */
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -14px;
  padding-left: 14px;
}

.dark .sidebar li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.dark .sidebar li .icons,
.dark .sidebar li .text {
  color: var(--text);
  transition: all 0.3s ease;
}

.dark .sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 50px;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.dark .sidebar li a:hover .icons,
.dark .sidebar li a:hover .text {
  color: var(--primary);
}

.dark .sidebar .active {
  border-left: 3px solid var(--primary);
}

.dark .sidebar .active i,
.dark .sidebar .active .text {
  color: var(--primary) !important;
}

.dark .sidebar .menu-bar {
  height: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark .menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--background);
  cursor: pointer;
}

.dark .menu-bar .mode:hover {
  color: var(--primary);
}

.dark .menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.dark .menu-bar .mode i {
  position: absolute;
  transition: all 0.3s ease;
}

.dark .menu-bar .mode i.sun {
  opacity: 0;
}
.dark .menu-bar .mode i.sun {
  opacity: 1;
}
.dark .menu-bar .mode i.moon {
  opacity: 0;
}

.dark .menu-bar .mode .toggle-switch {
  position: absolute;
  /* left: 0; */
  right: -10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  background: var(--background);

  /* background: red; */
  cursor: pointer;
}

.dark .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  background-color: var(--text);
  border-radius: 25px;
}

.dark .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--background);
}

.dark .switch::before {
  left: 25px;
}

.dark .sidebar .image img {
  background-color: #fff;
  /* border-color: 2px solid #000; */
}

.dark .sidebar.close {
  width: 78px;
}

.dark .sidebar.close .text {
  display: none;
  opacity: 0;
}

.dark .sidebar.close .search-bar {
  background-color: var(--sidebar-color);
}

.dark .search-bar input {
  color: white;
}

.dark .sidebar.close .toggle {
  transform: translateY(-50%);
}

/* Light Sidebar CSS */
.light .sidebar .text {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text);
  transition: all 0.2s ease;
  white-space: unset;
  display: block;
}

.light .sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* Sidebar */
.light .sidebar {
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  width: 250px;
  background-color: var(--primary);
  padding: 10px 14px;
  transition: all 0.2s ease;
  /* box-shadow: 15px 0px 17px -3px rgba(0,0,0,0.1); */
  border-bottom: 1px solid var(--border);
}

@media only screen and (max-width: 600px) {
  .light .sidebar {
    width: 96%;
    z-index: 1000;
  }
}

.light .sidebar header {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.light .sidebar .image-text img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.light .sidebar header .image-text {
  display: flex;
  align-items: center;
}

.light .sidebar .header .image-text .header-text {
  display: flex;
  flex-direction: column;
}

.light .sidebar .header-text .main {
  font-weight: 600;
  font-size: large;
}

.light .sidebar .header-text .sub {
  margin-top: -2px;
}

.light .sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--text);
  font-size: 22px;
}

.light .sidebar li {
  height: 50px;
  /* background-color: red; */
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: -14px;
  padding-left: 14px;
}

.light .sidebar li .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.light .sidebar li .icons,
.light .sidebar li .text {
  color: var(--background);
  transition: all 0.3s ease;
}

.light .sidebar li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-right: 50px;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.light .sidebar li a:hover .icons,
.light .sidebar li a:hover .text {
  color: var(--accent);
}

.light .sidebar .active {
  border-left: 3px solid var(--background);
}

.light .sidebar .active i,
.light .sidebar .active .text {
  color: var(--background) !important;
}

.light .sidebar .menu-bar {
  height: 100%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.light .menu-bar .mode {
  position: relative;
  border-radius: 6px;
  background: var(--background);
  cursor: pointer;
}

.light .menu-bar .mode:hover {
  color: var(--primary);
}

.light .menu-bar .mode .moon-sun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}
.light .menu-bar .mode i {
  position: absolute;
  transition: all 0.3s ease;
}

.light .menu-bar .mode i.sun {
  opacity: 0;
}
.light .menu-bar .mode i.sun {
  opacity: 1;
}
.light .menu-bar .mode i.moon {
  opacity: 0;
}

.light .menu-bar .mode .toggle-switch {
  position: absolute;
  /* left: 0; */
  right: -10px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  background: var(--background);

  /* background: red; */
  cursor: pointer;
}

.light .toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 44px;
  background-color: var(--text);
  border-radius: 25px;
}

.light .switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--background);
}

.light .switch::before {
  left: 25px;
}

.light .sidebar .image img {
  background-color: #fff;
  /* border-color: 2px solid #000; */
}

.light .sidebar.close {
  width: 78px;
}

.light .sidebar.close .text {
  display: none;
  opacity: 0;
}

.light .sidebar.close .search-bar {
  background-color: var(--sidebar-color);
}

.light .search-bar input {
  color: white;
}

.light .sidebar.close .toggle {
  transform: translateY(-50%);
}

/*** Main CSS ***/

.content {
  overflow-y: scroll;
}

/* Input Side */

.left-content {
  padding-top: 10px;
  background-color: var(--background);
  height: 100lvh;
  max-height: 100lvh;
  border-right: 1px solid #333c47;
  display: flex;
  flex-direction: column;
}

.light .left-content {
  padding-top: 10px;
  background-color: var(--light-background);
  height: 100lvh;
  max-height: 100lvh;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 755px) {
  .light-content {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


/* Section Headbar */

.headbar {
  border-bottom: 1px solid #333c47;
  background-color: transparent;
  flex: 0 1 auto;
  padding: 20px;
  padding-left: 25px;
}

.headbar h3 {
  color: white;
  font-size: 24px;
}

.headbar p {
  color: #adadad;
  font-size: 14px;
}

.section-btn {
  background-color: var(--secondary);
  color: var(--white);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;
}

.section-btn:hover {
  background-color: var(--accent);
  color: var(--white);
}

.section-btn:focus {
  outline: none;
  box-shadow: none;
}

.section-content {
  padding: 20px;
}

/* Section Headbar Light */

.light .headbar {
  border-bottom: 1px solid var(--border);
  flex: 0 1 auto;
  padding: 20px;
  padding-left: 25px;
}

.light .headbar h3 {
  color: var(--light-text);
  font-size: 24px;
}

.light .headbar p {
  color: var(--light-text);
  font-size: 14px;
}

.light .section-btn {
  background-color: var(--light-button);
  color: var(--light-text);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 13px;
  border-radius: 5px;
  padding: 5px 10px;
}

.light .section-btn:hover {
  background-color: #d3d6db;
  color: var(--light-text);
}

.light .section-btn:focus {
  outline: none;
  box-shadow: none;
}

.light .section-content {
  padding: 20px;
}

/* Section Forms */

.form-section {
  width: 100%;
  /* height: auto; */
  margin-top: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff !important;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.form-section .form-field {
  margin-bottom: 22px;
}

.form-section span {
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.form-section .text-input {
  color: #fff !important;
  display: flex;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.form-section .text-input:focus {
  border: 1px solid #414141;
  outline: none !important;
  transition: none !important;
}

.input-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.input-box .prefix {
  font-weight: 300;
  font-size: 15px;
  color: #fff;
}

.input-box input {
  /* flex-grow: 1; */
  color: #fff !important;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 2px;
  font-size: 15px;
  background-color: #262626;
}

.input-box:focus-within {
  border-color: #777;
}

.form-section .textarea-input {
  color: #fff !important;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: #262626;
}

.form-section .textarea-input:focus {
  border: 1px solid #414141;
  outline: none !important;
  transition: none !important;
}

.form-section h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Section Forms Light */

.light .form-section {
  width: 100%;
  /* height: auto; */
  margin-top: 15px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--light-text) !important;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.light .form-section .text-input {
  color: #000 !important;
  display: flex;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: var(--light-button);
}

.light .form-section .text-input:focus {
  border: 1px solid var(--border);
  outline: none !important;
  transition: none !important;
}

.light .input-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: var(--light-button);
}

.light .input-box .prefix {
  font-weight: 300;
  font-size: 15px;
  color: var(--light-text);
}

.light .input-box input {
  /* flex-grow: 1; */
  color: #000 !important;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-left: 2px;
  font-size: 15px;
  background-color: var(--light-button);
}

.light .input-box:focus-within {
  border-color: #777;
}

.light .form-section .textarea-input {
  color: #000 !important;
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 8px;
  font-size: 15px;
  background-color: var(--light-button);
}

.light .form-section .textarea-input:focus {
  border: 1px solid var(--border);
  outline: none !important;
  transition: none !important;
}

.light .form-section h4 {
  margin-top: 20px;
  margin-bottom: 15px;
}

/* Skills Section */

.skill-group {
  background-color: #262626;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.skill-group p {
  color: #fff;
}

.skill-group .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 10px;
  padding: 0.3rem;
}

.skill-group .skill-button {
  position: relative;
  background: transparent;
  border: none;
}

.skill-group .skill-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
}

.skill-group .tick-icon {
  position: absolute;
  top: -0.25rem; /* Adjust as needed to position the tick */
  right: -0.25rem; /* Adjust as needed to position the tick */
  height: 1.1rem;
  width: 1.1rem;
}

.skill-group .skill-button .tooltip {
  position: absolute;
  bottom: -2rem; /* Places the tooltip below the button */
  left: 50%;
  transform: translateX(-50%);
  background: #333; /* Dark background for the tooltip */
  color: white; /* White text for visibility */
  font-size: 0.75rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1;
  pointer-events: none; /* Prevent hover issues */
}

.skill-group .skill-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.skill-group .badge {
  float: right;
  top: -1px;
  right: -1px;
}

/* Skills Section Light */

.light .skill-group {
  background-color: var(--light-button);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.light .skill-group p {
  color: var(--light-text);
}

.light .skill-group .skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin-top: 10px;
  padding: 0.3rem;
}

.light .skill-group .skill-button {
  position: relative;
  background: transparent;
  border: none;
}

.light .skill-group .skill-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 2.1rem;
  width: 2.1rem;
}

.light .skill-group .badge {
  float: right;
  top: -1px;
  right: -1px;
}

/* Right Preview Container */

.right-content {
  padding-top: 10px;
  background-color: var(--background);
  height: 100lvh;
  max-height: 100lvh;
  display: flex;
  flex-direction: column;
}

.right-content .navbar {
  flex: 0 1 auto;
}

@media only screen and (max-width: 755px) {
  .right-content {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-left: 12px;
    margin-right: 0;
  }

  .light .right-content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.active-btn {
  background-color: var(--primary);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
}

.active-btn:focus {
  outline: none;
  box-shadow: none;
}

.nonactive-btn {
  /* border: 1px solid var(--accent); */
  background-color: var(--secondary);
  color: white;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
}

.nonactive-btn:hover {
  background-color: var(--accent);
  color: var(--white);
}

.nonactive-btn:focus {
  outline: none;
  box-shadow: none;
}

.right-content textarea {
  color: #adadad;
}

.preview-container {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: #fff;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.raw-textarea {
  width: 100%;
  height: 100lvh;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.preview-container ul {
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 15px;
  color: #adadad;
  margin-bottom: 15px;
}

.preview-container h1 {
  font-size: 2.15rem;
  font-weight: bold;
}

.preview-container h2 {
  font-size: 1.775rem;
  font-weight: bold;
}

.preview-container h3 {
  margin-top: 15px;
  font-size: 1.25rem;
  font-weight: bold;
}

.preview-container p {
  line-height: 1.625;
  color: #adadad;
  margin-bottom: 15px;
  font-size: 15px;
}

.preview-container li {
  font-size: 15px;
}

.preview-container img {
  margin-bottom: 15px;
}

.preview-container h3 {
  margin-bottom: 15px;
}

.markdown-container {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--secondary);
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.markdown-container p {
  font-family: monospace, monospace;
  line-height: 1.325;
  color: #adadad;
  font-size: 15px;
  white-space: pre-line;
  word-break: break-all;
  word-spacing: -1px;
}

/* Right Preview Container Light */

.light .right-content {
  padding-top: 10px;
  background-color: var(--light-background);
  height: 100lvh;
  max-height: 100lvh;
  display: flex;
  flex-direction: column;
}

.light .right-content .navbar {
  flex: 0 1 auto;
}

.light .active-btn {
  background-color: var(--primary);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
}

.light .active-btn:focus {
  outline: none;
  box-shadow: none;
}

.light .nonactive-btn {
  /* border: 1px solid var(--accent); */
  background-color: var(--light-button);
  color: var(--light-text);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  padding: 5px 10px;
}

.light .nonactive-btn:hover {
  background-color: #d3d6db;
  color: var(--light-text);
}

.light .nonactive-btn:focus {
  outline: none;
  box-shadow: none;
}

.light .right-content textarea {
  color: var(--background);
}

.light .preview-container {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--light-text);
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.light .raw-textarea {
  width: 100%;
  height: 100lvh;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.light .preview-container ul {
  margin-top: 15px;
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 15px;
  color: var(--accent);
}

.light .preview-container h1 {
  font-size: 2.15rem;
  font-weight: bold;
}

.light .preview-container h2 {
  font-size: 1.775rem;
  font-weight: bold;
}

.light .preview-container p {
  line-height: 1.625;
  color: var(--accent);
  margin-bottom: 15px;
  font-size: 15px;
}

.light .preview-container li {
  font-size: 15px;
}

.light .preview-container img {
  margin-bottom: 15px;
}

.light .preview-container h3 {
  margin-bottom: 15px;
}

.light .markdown-container {
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--accent);
  flex: 1 1 auto;
  max-height: calc(100vh - var(--headbar-height));
  overflow-y: auto;
}

.light .markdown-container p {
  font-family: monospace, monospace;
  line-height: 1.325;
  color: var(--accent);
  font-size: 15px;
  white-space: pre-line;
  word-break: break-all;
  word-spacing: -1px;
}

/* Socials Section */

.form-section .form-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

/* Copy Modal */
/* Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

/* Modal container */
.modal-container {
  background: var(--background);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 20px 20px;
  border-top: 4px solid var(--primary);
}

.light .modal-container {
  background: var(--light-background);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0px 20px 20px 20px;
  border-top: 4px solid var(--primary);
}

/* Header */
.modal-header {
  display: flex;
  align-items: center;
}

.clbtn {
  border: none;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 300;
}

.clbtn-light {
  background-color: var(--light-button);
}

.clbtn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-sponsor {
  background: var(--primary);
  color: black;
  text-decoration: none;
  margin-top: 10px;
}

.btn-sponsor:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-sponsor img {
  height: 25px;
  width: auto;
  margin-right: 10px;
}

/* Content */
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--background);
  color: var(--text);
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.light .modal-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--light-background);
  color: var(--light-text);
  border: none;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
}

@media (min-width: 768px) {
  .modal-content {
    flex-direction: row;
  }

  .light .modal-content {
    flex-direction: row;
  }
}

.modal-left,
.modal-right {
  padding: 10px;
}

.modal-content .modal-p {
  color: var(--primary);
  font-size: 15px;
}

.light .modal-content .modal-p {
  color: var(--light-text);
  font-size: 15px;
}

.modal-bold {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--text);
}

.light .modal-bold {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--light-text);
}

.modal-list {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 10px;
}

.modal-list li {
  margin-top: 4px;
  margin-bottom: 4px;
}

.modal-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}

.modal-right img {
  height: 320px;
  width: 603px;
}

.modal-caption {
  font-size: 0.75rem;
  margin-top: 10px;
  color: #666;
}

/* Badge Section CSS */

.stylebadgesubtext {
  font-size: small;
  color: var(--primary);
}

.light .stylebadgesubtext {
  font-size: small;
  color: var(--light-text);
}

.stylebadgesubtext .style-anchor {
  color: #3382ed;
  text-decoration: underline;
  cursor: pointer;
}

.badgeStyleButton .stylebadgetitle {
  color: var(--white);
}

.light .badgeStyleButton .stylebadgetitle {
  color: var(--light-text);
}

.badgeStyleButton button {
  background-color: var(--secondary);
  padding: 10px;
  font-size: small;
}

.light .badgeStyleButton button {
  background-color: var(--light-button);
  padding: 10px;
  font-size: small;
}

.badgeStyleButton button:focus {
  outline: none !important;
  box-shadow: none;
}

.badgeStyleButton button:hover {
  background-color: #414141;
}

.light .badgeStyleButton button:hover {
  background-color: #d3d6db;
}

.badgeStyleButton .color-selector {
  border-bottom: 2px solid var(--secondary);
  border-left: 2px solid var(--secondary);
  border-right: 2px solid var(--secondary);
}

.light .badgeStyleButton .color-selector {
  border-bottom: 2px solid var(--light-button);
  border-left: 2px solid var(--light-button);
  border-right: 2px solid var(--light-button);
}

.badgeStyleButton .color-display {
  border: 1px solid var(--secondary);
}

.light .badgeStyleButton .color-display {
  border: 1px solid var(--light-button);
}

.badgeStyleButton .stylebadgetext {
  color: var(--white);
}

.light .badgeStyleButton .stylebadgetext {
  color: var(--light-text);
}

.badgeStyleButton .stylebadgetext-mute {
  color: var(--white);
  opacity: 50%;
}

.light .badgeStyleButton .stylebadgetext-mute {
  color: var(--light-text);
  opacity: 50%;
}

.badgeStyleButton .stylebadgetext-mute:hover {
  color: var(--white);
  opacity: 100%;
}

.light .badgeStyleButton .stylebadgetext-mute:hover {
  color: var(--light-text);
  opacity: 100%;
}

.badgetoggle {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary); /* Dark background */
  border-radius: 3px;
  cursor: pointer;
}

.light .badgetoggle {
  background-color: var(--light-button);
}

.badgetoggle:hover {
  background-color: #414141; /* Dark background */
}

.light .badgetoggle:hover {
  background-color: #d3d6db;
}

.disabled-label {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.enabled-label {
  opacity: 1;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  background-color: var(--background);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  appearance: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.light .custom-checkbox {
  background-color: var(--border);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.custom-checkbox:checked {
  background-color: var(--primary); /* Custom blue */
  border-color: var(--primary);
}

.custom-checkbox:checked::after {
  content: "✔";
  font-size: 12px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* font-weight: bold; */
}

.light .custom-checkbox:checked::after {
  color: black;
}

.selected-badge {
  background-color: var(--primary) !important;
}

.selected-badge:hover {
  background-color: var(--primary) !important;
}

.selected-text {
  color: black !important;
}

.badge-text {
  color: var(--text);
}

.light .badge-text {
  color: var(--light-text);
}

/* Badge Selection Container */
.badge-selection-container {
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: var(--background); /* Dark Background */
  transition: all 0.2s ease-in-out;
}

.light .badge-selection-container {
  background-color: var(--light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/* Title Styling */
.badge-selection-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--text);
  margin-bottom: 8px;
}

.light .badge-selection-title {
  color: var(--light-text);
}

/* Checkbox Labels */
.badge-checkbox {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-size: 0.85rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--secondary);
  color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.light .badge-checkbox {
  background-color: var(--light-button);
  color: var(--light-text);
}

/* Checkbox Checked State */
.badge-checkbox.active {
  background-color: #414141;
  border-color: #414141;
  color: #ffffff;
}

.light .badge-checkbox.active {
  background-color: #c7cad3;
  border-color: #d3d6db;
  color: black;
}

/* Hover Effect */
.badge-checkbox:hover {
  background-color: #414141;
}

.light .badge-checkbox:hover {
  background-color: #c7cad3;
}

/* Checkbox Inside Label */
.badge-checkbox input {
  display: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .badge-checkbox {
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}

.badge-checkbox .checkbox-element {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border);
  border-radius: 4px;
  display: inline-block;
  position: relative;
  margin-right: 8px;
  cursor: pointer;
}

.badge-checkbox .checkbox-element:checked {
  background-color: var(--primary);
  border-color: var(--primary);
}

.light .badge-checkbox .checkbox-element:checked {
  background-color: #c7cad3;
  border-color: #c7cad3;
}

.badge-checkbox .checkbox-element:checked::after {
  content: "✔";
  font-size: 12px;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Github Top Repo CSS */
.toprepo-container {
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  background-color: var(--background); /* Dark Background */
  transition: all 0.2s ease-in-out;
}

.light .toprepo-container {
  background-color: var(--light-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.toprepo-subtext {
  font-size: small;
  color: var(--primary);
}

.light .toprepo-subtext {
  font-size: small;
  color: var(--light-text);
}

/* Custom transition effect */
.translate-up {
  transform: translateY(-12px);
  opacity: 0;
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

/* Custom input styling */

.toprepo-input {
  height: 32px;
  width: 100%;
  font-size: 14px;
  border-radius: 6px;
  background-color: var(--secondary) !important;
  color: var(--text) !important;
  border: none;
}

.light .toprepo-input {
  background-color: var(--light-button) !important;
  color: var(--light-text) !important;
}

.toprepo-subtext::placeholder {
  color: var(--text);
}

.toprepo-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Spacing fix for DeleteRepo buttons */
.d-flex.gap-2 {
  align-items: center;
}

/* Bootstrap-compatible rounded bottom corners */
.rounded-bottom {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.toprepo-add {
  background-color: var(--primary);
}

/* Finish Section  */

.finish-section {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light .finish-section {
  color: #000;
}

.fs-content {
  text-align: center;
  max-width: 80%;
}

.fs-content .form-icon {
  height: 20px;
  width: 20px;
}

.finish-heading p {
  color: var(--text) !important;
  font-weight: 300;
}

.light .finish-heading p {
  color: var(--dark-text) !important;
}

.cta-box {
  background-color: transparent;
  border: 1px solid #dee2e6;
  color: var(--primary) !important;
}

.light .cta-box {
  border: 1px solid var(--light-text);
  color: var(--light-text) !important;
}

.support-buttons {
  margin-top: 20px;
  gap: 15px;
}

.support-btn {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 6px 12px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-in-out;
  font-size: medium;
}

.light .support-btn {
  color: var(--light-text);
}

.support-btn:hover {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  color: black;
}

/* Resizable Right Content - React Split CSS */

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: 100%;
}

.light .gutter {
  background-color: var(--light-background);
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}